{% extends "home/policy_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class="western" align="justify">
<strong><font face="Liberation Sans, sans-serif"><font size="5" style="font-size: 22pt">
	About Us
</font></font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">We are a
team of passionate Digital Currency enthusiasts who have come
together to help you participate in this exciting exchange world.</font></p>
<p align="justify"><font face="Liberation Sans, sans-serif">More
specifically, we developed a platform to help you buy and sell your
favorite Digital Currencies using a variety of (often unusual)
payment methods.</font></p>
<p align="justify"><font face="Liberation Sans, sans-serif">With a
near-perfect score on Trustpilot and a dedicated support team, almost
all of our customers come back to use our service again.</font></p>
<p align="justify"><font face="Liberation Sans, sans-serif">Our goal
was not to be the biggest or most popular exchanger, but rather to
become the most trusted and responsive platform on the market.</font></p>
<a><b><font face="Liberation Sans, sans-serif">Legal
Name: </font></b></a>
<a><font face="Liberation Sans, sans-serif">ExonTime </font></a>
<br>
<a><b><font face="Liberation Sans, sans-serif">Street
	Address: </font></b></a>
<a><font face="Liberation Sans, sans-serif">Dudajeva
Gatve, дом 12</font></a>
<br>
<a><b><font face="Liberation Sans, sans-serif">City: </font></b></a>
<a> <font face="Liberation Sans, sans-serif">Рига </font></a>
<br>
<a><b><font face="Liberation Sans, sans-serif">Postal Code: </font></b></a>
<a><font face="Liberation Sans, sans-serif">1004</font></a>
<br>
<a><b><font face="Liberation Sans, sans-serif">Country: </font></b></a>
<a><font face="Liberation Sans, sans-serif">Latvia</font></a>
{% endblock content %}