{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ user.first_name }} {{ user.last_name }}'s Dashboard</title>


    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/jquery.mCustomScrollbar.min.css' %}">


    <script defer src="{% static 'home/js/solid.js' %}"></script>
    <script defer src="{% static 'home/js/fontawesome.js' %}"></script>


</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->

        <nav id="sidebar">
            <div class="sidebar-header">
                <a href = "{% url 'home' %}" style="text-align: center"><h3>ExonTime</h3></a>
            </div>

            <ul class="list-unstyled components">
                <p>Dashboard</p>
                <li>
                    <a href="{% url 'home' %}">Exchange Now</a>
                </li>
                <li >
                    <!-- <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a> -->
                    <a href="{% url 'dashboard' %}">Home</a>
                    <!-- <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul> -->
                </li>
                <li class="active">
                    <a href="{% url 'exchange_rate' %}">Exchange rates</a>
                </li>
                <li>
                    <a href="{% url 'order_history' %}">Completed transactions</a>
                </li>
                <li>
                    <a href="{% url 'contact_us' %}">Contact Us/ Help</a>
                </li>
                <li>
                    <a href="#">Tutorial</a>
                </li>
                <li>
                    <a href="{% url 'pending_order' %}">Pending orders</a>
                </li>
                <li>
                    <a href="{% url 'track_order' %}">Track Your Order</a>
                </li>
                <li>
                    <a href="{% url 'settings' %}">Settings</a>
                    <!-- <a href="" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="#">Address</a>
                        </li>
                    </ul> -->
                </li>
            </ul>

            <!-- <ul class="list-unstyled CTAs">
                <li>
                    <a href="" class="download"></a>
                </li>
                <li>
                    <a href="" class="article"></a>
                </li>
            </ul> -->
        </nav>

        <!-- Page Content  -->
        <div id="content" style = "background-color: #f3f5f9; color: #717171">

            <main role="main" class="container">
                <div class="row" id="replace_it" style="min-height: 100vh;">
                    <div class="col-md-7">
                        <div class = "money_ex_form" style = "background-color: #fc4041; border-radius: 10px">
                             <form action="{% url 'dashboard' %}">
                                  {% csrf_token %}
                                 <div class="form-group" style="text-align:center"><a style="font-size: 25px; color:#fff">Find exchange rate</a></div>
                                 <div class="form-row">
                                      <div class="form-col col-md classWithPad">
                                          <div class="form-group" style="text-align:center"><a style="font-size: 25px; color:#fff">Send</a></div>
                                          <div class="form-group" style="text-align:center">
                                              <img id="send_img" style="height: 45px; width: 120px; background-color:#fff" src="">
                                          </div>
                                          <div class="form-group">
                                            <select class="form-control form-control-lg" id="from_select" onchange="refreshOrderForm1()">
                                                <option value="paypal">Paypal</option>
                                                <option value="payoneer">Payoneer</option>
                                                <option value="skrill">Skrill</option>
                                                <option value="neteller">Neteller</option>
                                                <option value="bkash">Bkash</option>
                                                <option value="btcusd">BTC USD</option>
                                            </select>
                                          </div>

                                        <div class="form-group" style="text-align: center">
                                            <a style="color: #fff"><h3 id="number1"></h3></a>
                                        </div>
                                      </div>


                                     <div class="form-col col-md classWithPad">
                                         <div class="form-group" style="text-align:center"><a style="font-size: 25px; color:#fff">Receive</a></div>
                                         <div class="form-group" style="text-align:center">
                                             <img id="rcv_img" style="height: 45px; width: 120px; background-color:#fff" src="">
                                         </div>
                                         <div class="form-group">
                                            <select class="form-control form-control-lg" id="to_select" onchange="refreshOrderForm1()">
                                                <option value="paypal">Paypal</option>
                                                <option value="payoneer">Payoneer</option>
                                                <option value="skrill">Skrill</option>
                                                <option value="neteller">Neteller</option>
                                                <option value="bkash">Bkash</option>
                                                <option value="btcusd">BTC USD</option>
                                        </select>
                                        </div>

                                        <div class="form-group" style="text-align: center">
                                            <a style="color: #fff"><h3 id="number2"></h3></a>
                                        </div>


                                      </div>
                                 </div>

                                   <div class="form-group classWithPad" style="align: center">

                                    <button class="form-control" id="order_btn" type="submit">Exchange Now</button>

                                   </div>

                                </form>
                        </div>
                    </div>

                    <div class="col-md-5" style="margin-top: 8px">
                      <div class="content-section" id="exchange_table" style="text-align: center">
                          <h3>Exchange rates</h3>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col" style="text-align: center; word-break:break-all;">Send</th>
                              <th scope="col" style="text-align: center; word-break:break-all;">Rate</th>
                              <th scope="col" style="text-align: center; word-break:break-all;">Receive</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for reserve in reserves %}
                            {% for reserve2 in reserves %}
                            <tr>
                              <td scope="row" style="text-align: center; word-break:break-all;">{% if reserve.title == 'skrill' %}
                                  <div style="flex:0 0 26px;"><img style="height: 35px; width: 70px;" src="{% static 'home/images/skrill.png' %}"></div>
                                                {% elif reserve.title == 'neteller' %}
                                  <div style="flex:0 0 26px;"><img style="height: 30px; width: 80px;" src="{% static 'home/images/neteller.png' %}"></div>
                                                {% elif reserve.title == 'paypal' %}
                                  <div style="flex:0 0 26px;"><img style="height: 30px; width: 80px;" src="{% static 'home/images/paypal.png' %}"></div>
                                                {% elif reserve.title == 'bkash' %}
                                  <div style="flex:0 0 26px;"><img style="height: 35px; width: 80px;" src="{% static 'home/images/bkash.png' %}"></div>
                                                {% elif reserve.title == 'payoneer' %}
                                  <div style="flex:0 0 26px;"><img style="height: 30px; width: 80px;" src="{% static 'home/images/payoneer.png' %}"></div>
                                                {% elif reserve.title == 'btcusd' %}
                                  <div style="flex:0 0 26px;"><img style="height: 30px; width: 80px;" src="{% static 'home/images/btcusd.png' %}"></div>
                                                {% endif %}

                              </td>
                              <td style="font-size: 15px; text-align: center; word-break:break-all;">
                                  {% if reserve2.title == 'skrill' %}
                                    <div style="flex:0 0 26px;">1 {{reserve.unit}} <img style="height: 20px; width: 20px;" src="{% static 'home/images/arrow_acc.png' %}"> {{ reserve.skrill }} {{ reserve2.unit }}</div>
                                                {% elif reserve2.title == 'neteller' %}
                                  <div style="flex:0 0 26px;">1 {{reserve.unit}} <img style="height: 20px; width: 20px;" src="{% static 'home/images/arrow_acc.png' %}"> {{ reserve.neteller }} {{ reserve2.unit }}</div>
                                                {% elif reserve2.title == 'paypal' %}
                                  <div style="flex:0 0 26px;">1 {{reserve.unit}} <img style="height: 20px; width: 20px;" src="{% static 'home/images/arrow_acc.png' %}"> {{ reserve.paypal }} {{ reserve2.unit }}</div>
                                                {% elif reserve2.title == 'bkash' %}
                                  <div style="flex:0 0 26px;">1 {{reserve.unit}} <img style="height: 20px; width: 20px;" src="{% static 'home/images/arrow_acc.png' %}"> {{ reserve.bkash }} {{ reserve2.unit }}</div>
                                                {% elif reserve2.title == 'payoneer' %}
                                  <div style="flex:0 0 26px;">1 {{reserve.unit}} <img style="height: 20px; width: 20px;" src="{% static 'home/images/arrow_acc.png' %}"> {{ reserve.payoneer }} {{ reserve2.unit }}</div>
                                                {% elif reserve2.title == 'btcusd' %}
                                  <div style="flex:0 0 26px;">1 {{reserve.unit}} <img style="height: 20px; width: 20px;" src="{% static 'home/images/arrow_acc.png' %}"> {{ reserve.btcusd }} {{ reserve2.unit }}</div>
                                                {% endif %}
                              </td>
                                <td style="text-align: center; word-break:break-all;">
                                    {% if reserve2.title == 'skrill' %}
                                    <div style="flex:0 0 26px;"><img style="height: 35px; width: 70px;" src="{% static 'home/images/skrill.png' %}"></div>
                                                {% elif reserve2.title == 'neteller' %}
                                  <div style="flex:0 0 26px;"><img style="height: 30px; width: 80px;" src="{% static 'home/images/neteller.png' %}"></div>
                                                {% elif reserve2.title == 'paypal' %}
                                  <div style="flex:0 0 26px;"><img style="height: 30px; width: 80px;" src="{% static 'home/images/paypal.png' %}"></div>
                                                {% elif reserve2.title == 'bkash' %}
                                  <div style="flex:0 0 26px;"><img style="height: 35px; width: 80px;" src="{% static 'home/images/bkash.png' %}"></div>
                                                {% elif reserve2.title == 'payoneer' %}
                                  <div style="flex:0 0 26px;"><img style="height: 30px; width: 80px;" src="{% static 'home/images/payoneer.png' %}"></div>
                                                {% elif reserve2.title == 'btcusd' %}
                                  <div style="flex:0 0 26px;"><img style="height: 30px; width: 80px;" src="{% static 'home/images/btcusd.png' %}"></div>
                                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </main>
            <nav class="navbar navbar-expand-lg" style="background-color: #7386D5">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" >
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        <footer style="background-color:#373737;" id="footer" class="foot">
            <div class="container">
				<div class="row">
					<!-- footer-widget -->
					<div class="col-sm-3" style="text-align:center">
						<div class="footer-widget news-letter">
							<h3 style="color:#FFFFFF;font-size:20px;" ><strong>ExonTime</strong></h3>

								<li style="color:#FFFFFF" ><a style="color:#FFFFFF" href="">Buy & Sell</a></li>
								<li style="color:#FFFFFF" ><a style="color:#FFFFFF" href="">Reviews</a></li>
                                <li style="color:#FFFFFF" ><a style="color:#FFFFFF" href="">Rates</a></li>

						</div>
                        <br>
					</div>

					<div class="col-sm-3" style="text-align:center">
						<div class="footer-widget news-letter">
							<h3 style="color:#FFFFFF;font-size:20px;"><strong>Policies</strong></h3>
								<li style="color:#FFFFFF" ><a style="color:#FFFFFF" href="">Terms and Conditions</a></li>
								<li style="color:#FFFFFF" ><a style="color:#FFFFFF" href="">Privacy Policy</a></li>
                                <li style="color:#FFFFFF" ><a style="color:#FFFFFF" href="">Refund Policy</a></li>
						</div>
                        <br>
					</div>



					<div class="col-sm-3" style="text-align:center">
						<div class="footer-widget news-letter">
						   <h3 style="color:#FFFFFF;font-size:20px;"><strong>Company</strong></h3>
						    <li style="color:#FFFFFF" ><a style="color:#FFFFFF" href="">About</a></li>
							<li style="color:#FFFFFF" ><a style="color:#FFFFFF" href="">Tutorial</a></li>

						<li style="color:#FFFFFF" ><a style="color:#FFFFFF" href="">Help</a></li>
						</div>
                        <br>
					</div>

					<div class="col-sm-3" style="text-align:center">
					<a href=""><img src="{% static 'home/images/GooglePlay.png' %}" width="150" height="60"></a>

					<div class="footer-widget social-widget" style="text-align:center">
                    <h3 style="color:#FFFFFF;font-size:20px;">Follow us</h3>

					<a href=""><img src="{% static 'home/images/facebook.png' %}" width="35" height="35"></a>
					<a href=""><img src="{% static 'home/images/youtube.png' %}" width="50" height="35"></a>
                    <a href=""><img src="{% static 'home/images/instagram.png' %}" width="35" height="35"></a>

					</div>


					</div>
				</div>
			</div>
            <div style="background-color:#7386D5;" class="foot2">
			<div class="container" style="text-align: center; padding-top: 15px;">
				<p style="color:#FFFFFF" ><strong>Copyright &copy; 2020 ExonTime </strong></p>
			</div>
		    </div>
        </footer>


         </div>



    </div>




    <!-- jQuery CDN - Slim version (=without AJAX) -->

    <script src="{% static 'home/js/jquery-3.4.1.min.js' %}"></script>
    <!-- Popper.JS -->
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="{% static 'home/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>



    <script type="text/javascript">
    var refreshOrderForm1 = function(){
        $.ajax({
            url: "{% url 'get_info_update' %}",
            method: 'GET',
            dataType : "json",
            data: {},
            success: function(response){
              madeSelectionfrom = document.getElementById("from_select").value;
              madeSelectionto = document.getElementById("to_select").value;
              var number1 = 1;
              var number2 = 1;
              var unit1 = "";
              var unit2 = "";
              for(var i = 0; i < response["reserves"].length; i++)
              {
                  var product = response["reserves"][i];
                  if(product["title"] == madeSelectionfrom){
                    rate = parseFloat(product[madeSelectionto]);
                    if(product["unit"] == "BDT"){
                        number1 = number2/rate;
                    }
                    else{
                        number2 = number1*rate;
                    }
                    unit1 = product["unit"];
                    var ul = product["title"]+'.png';
                    document.getElementById("send_img").src = '{% static 'home/images/' %}'+ ul;
                  }
                  if(product["title"] == madeSelectionto){
                      var ul = product["title"]+'.png';
                      document.getElementById("rcv_img").src = '{% static 'home/images/' %}'+ ul;
                      unit2 = product["unit"];
                  }
              }
                number1 = number1.toFixed(2);
                number2 = number2.toFixed(2);
                var show1 = number1 +" "+ unit1;
                document.getElementById("number1").innerHTML = show1;
                var show2 = number2 +" "+ unit2;
                document.getElementById("number2").innerHTML = show2;
            },
            error: function(error){
                console.log(error);
                console.log("error");
            }
        });
    }
    var total_seconds = 1;

    setInterval(function(){
        refreshOrderForm1();
    },total_seconds * 1000);
  </script>

    <script type="text/javascript">
        $(document).ready(function () {
            refreshOrderForm1();
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content, .navbar, .navbar-btn, .foot, .foot2').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>


    <script type="text/javascript">
    var refreshStream = function(){
        $.ajax({
            url: "{% url 'exchange_rate' %}",
            method: 'GET',
            data: {},
            success: function(response){
              $('#exchange_table').replaceWith($('#exchange_table',response));
              //on_payment_sys_changed();
            },
            error: function(error){
                console.log(error);
                console.log("error");
            }
        });
    }

    var total_seconds = 1;

    setInterval(function(){
        refreshStream();
    },total_seconds * 1000);

    </script>


  <script type="text/javascript">

      function DropDown(el) {
          this.dd = el;
          this.placeholder = this.dd.children('span');
          this.opts = this.dd.find('ul.dropdown > li');
          this.val = '';
          this.index = -1;
          this.initEvents();
      }
      DropDown.prototype = {
          initEvents : function() {
              var obj = this;

              obj.dd.on('click', function(event){
                  $(this).toggleClass('active');
                  return false;
              });

              obj.opts.on('click',function(){
                  var opt = $(this);
                  obj.val = opt.text();
                  obj.index = opt.index();
                  obj.placeholder.text(obj.val);
                  document.getElementById("in1").value = obj.val;
              });
          },
          getValue : function() {
              return this.val;
          },
          getIndex : function() {
              return this.index;
          }
      }

      $(function() {

          var dd = new DropDown( $('#dd') );

          $(document).click(function() {
              // all dropdowns
              $('.wrapper-dropdown-3').removeClass('active');
          });

      });

  </script>
</body>

</html>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5eaebdd910362a7578be90c0/1e7fdbpi0';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->