<span style="color: #333333;"><span style=" "><span style="    "><b>Risk Disclosure</b></span></span></span>

&nbsp;

<span style="color: #333333;"><span style=" "><span style="   "><b>TRADING IS NOT SUITABLE FOR EVERYONE. TRADING FOREX INVOLVES HIGH RISKS AND CAN CAUSE YOU A COMPLETE LOSS OF YOUR FUNDS!</b></span></span></span>

<span style=" "><span style="   ">Trading foreign exchange on margin carries a HIGH LEVEL OF RISK, and may not be suitable for all investors. Before deciding to trade foreign exchange you should carefully consider your investment objectives, level of experience, and risk appetite.</span></span>

<span style=" "><span style="   ">The possibility exists that you could sustain a loss of some or all of your initial investment and therefore </span></span><span style="   "><b><span style=" ">you should not invest money that you cannot afford to lose!</span></b></span>

<span style=" "><span style="   ">The high degree of leverage associated with trading currencies means that the degree of risk compared to other financial products is higher. Leverage (or margin trading) may work against you resulting in substantial loss. And feeling a sensation similar to getting sucker punched in the stomach.</span></span>

<span style=" "><span style="   ">There is considerable exposure to risk in any off-exchange foreign exchange transaction, including, but not limited to, leverage, creditworthiness, limited regulatory protection and market volatility that may substantially affect the price, or liquidity of a currency or currency pair.</span></span>

<span style=" "><span style="   ">You should be aware of all the risks associated with foreign exchange trading, and seek advice from an independent financial advisor if you have any doubts.</span></span>

<span style="color: #333333;"><span style=" "><span style="   "><b>Market Opinions</b></span></span></span>

<span style=" "><span style="   ">BillionaireForexLtd. will not accept liability for any loss or damage, including without limitation to, any loss of profit, which may arise directly or indirectly from use of or reliance on such information.</span></span>

<span style=" "><span style="   ">YOU are fully responsible for any investment decisions you make. Such decisions should be based solely on your evaluation of your financial circumstances, investment objectives, risk tolerance and liquidity needs.</span></span>

<span style="color: #333333;"><span style=" "><span style="   "><b>Internet Trading Risks</b></span></span></span>

<span style=" "><span style="   ">There are risks associated with utilizing an Internet-based deal execution trading system including, but not limited to, the failure of hardware, software, and Internet connection. Since BillionaireForexLtd. does not control signal power, its reception or routing via Internet, configuration of your equipment or reliability of its connection, we cannot be responsible for communication failures, distortions or delays when trading via the Internet.</span></span>

<span style="color: #333333;"><span style=" "><span style="   "><b>Distribution</b></span></span></span>

<span style=" "><span style="   ">This site is not intended for distribution, or use by, any person in any country where such distribution or use would be contrary to local law or regulation.</span></span>

<span style=" "><span style="   ">None of the services or investments referred to in this website are available to persons residing in any country where the provision of such services or investments would be contrary to local law or regulation.</span></span>

<span style=" "><span style="   ">It is the responsibility of visitors to this website to ascertain the terms of and comply with any local law or regulation to which they are subject.</span></span>

<a name="_GoBack"></a> <span style=" "><span style="   ">Please also read BillionaireForexLtd. </span></span><span style="color: #333333;"><span style="  "><span style="   "><u><b><a href="https://priceactionltd.com/terms-and-conditions/">TERMS AND CONDITIONS</a></b></u></span></span></span>

&nbsp;