
{% extends "home/base.html" %}
{% block nav_bar %}
{% if user.is_authenticated %}
<a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
{% else %}
<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
<a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
{% endif %}
{% endblock nav_bar %}
{% block content %}
    <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
    <div class="content-section">
       <div calss = "alert alert-info">
            You have successfully changed your password. Now you can login to your account using new password.
        </div>
        <a href="{% url 'login' %}">Sign In Here</a>
    </div>
        <!-- <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div> -->
    </div>
    </div>
    </main>
{% endblock content %}
