{% extends "home/policy_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class="western" align="justify">
<strong><font face="Liberation Sans, sans-serif">General</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">In
accordance with European Union General Data Protection Regulation
(GDPR) Exontime.com has updated its Privacy Policy.<br/>
<br/>
Exontime.com
and its affiliates (hereinafter, &quot; Exontime.com &quot;, &quot;we&quot;,
&quot;us&quot; or &quot;our&quot;) are committed to protecting and
respecting your privacy.<br/>
<br/>
This Privacy Policy (together
with our Terms and Conditions of Use) governs our collection,
processing and use of your Personal Information. We define &quot;Personal
Information&quot; as information which identifies you personally,
e.g., your name, address, e-mail address, trades, etc.<br/>
<br/>
The
purpose of this Privacy Policy is to inform you about:</font></p>
<ol>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">who
	is responsible for protection of your information;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">the
	types of the Personal Information which we may collect about you and
	how it may be used;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">the
	sources from which we gather information about you;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">our
	use of information regarding IP Addresses and our use of cookies;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">any
	disclosure of the Personal Information to third parties;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">your
	ability to correct, update and delete your Personal Information; and</font></p>
	<li><p align="justify"><font face="Liberation Sans, sans-serif">the
	security measures we have in place to prevent the loss, misuse, or
	alteration of the Personal Information under our control.</font></p>
</ol>
<h3 class="western" align="justify"><a name="toc-1"></a><strong><font face="Liberation Sans, sans-serif">Who
is responsible for protection of your information?</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">Protection
of your personal information is the responsibility of our Data
Protection Officer (DPO) who you can contact with questions related
to your personal information. If you want to reach our DPO, please
contact support@exontime.com.</font></p>
<h3 class="western" align="justify"><a name="toc-2"></a><strong><font face="Liberation Sans, sans-serif">Gathering
and Use of Personal Information</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">We may
collect your Personal Information if you use the Site, open an
Account to use Our Services or perform any Transactions on
Exontime.com. The types of the Personal Information which we collect
may include:</font></p>
<ol>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">your
	name;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">your
	photographic identification;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">your
	address;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">your
	phone number;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">your
	e-mail address;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">your
	username;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">your
	banking details, including account numbers;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">your
	date of birth;</font></p>
	<li><p align="justify"><font face="Liberation Sans, sans-serif">your
	transactions.</font></p>
</ol>
<h3 class="western" align="justify"><a name="toc-3"></a><strong><font face="Liberation Sans, sans-serif">We
may use your Personal Information for the following purposes:</font></strong></h3>
<ol>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">to
	allow you to open and operate an Account on the Exontime.com;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">to
	enable you to complete Transactions on Exontime.com;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">if
	you contact us, to reply to your queries;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">to
	analyze the use of our Site;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">as
	required for regulatory purposes;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">to
	provide you with information about products and promotions that may
	be of interest to you, from ourselves and third parties, although
	only if you have specifically agreed to receive such information;</font></p>
	<li><p align="justify"><font face="Liberation Sans, sans-serif">for
	market research, e.g., surveying our Members' needs and opinions on
	issues, such as our performance, etc.</font></p>
</ol>
<p align="justify"><a name="toc-4"></a><font face="Liberation Sans, sans-serif">We
will process your Personal Information only for the purpose(s) for
which it has been provided to us.</font></p>
<h3 class="western" align="justify"><a name="toc-6"></a><strong><font face="Liberation Sans, sans-serif"><br/>
Cookies</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">We use a
browser feature known as a &quot;cookie&quot;, which assigns a unique
identification to your computer. Cookies are typically stored on your
computer's hard drive. Information collected from cookies is used by
us to evaluate the effectiveness of our Site, analyze trends, and
administer the Exontime.com. The information collected from cookies
allows us to determine such things as which parts of our Site are
most visited and difficulties our visitors may experience in
accessing our Site. With this knowledge, we can improve the quality
of your experience on the Paybis.com by recognizing and delivering
more of the most desired features and information, as well as by
resolving access difficulties. We also use cookies and/or a
technology known as web bugs or clear gifs, which are typically
stored in emails to help us confirm your receipt of, and response to
our emails, and to provide you with a more personalized experience
when using our Site.<br/>
We use third party service provider(s), to
assist us in better understanding the use of our Site. Our service
provider(s) will place cookies on the hard drive of your computer and
will receive information that we select that will educate us on such
things as how visitors navigate around our site, what products are
browsed, and general transaction information. Our service provider(s)
analyzes this information and provides us with aggregate reports. The
information and analysis provided by our service provider(s) will be
used to assist us in better understanding our visitors' interests in
our Site and how to better serve those interests. The information
collected by our service provider(s) may be linked to and combined
with the information that we collect about you while you are using
the Exontime.com. Our service provider(s) is/are contractually
restricted from using information they receive from our Site other
than to assist us. <br/>
By using our Site you agree that we may use
cookies for the purposes set out above.</font></p>
<h3 class="western" align="justify"><a name="toc-7"></a><strong><font face="Liberation Sans, sans-serif">Disclosure
of Personal Information</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">We use
the Personal Information for the purposes indicated at the time you
provide us with such information, and/or otherwise for the purposes
set out in this Privacy Policy and/or as otherwise permitted by law.
We may make available the Personal Information that you provide to us
to our affiliates, agents, representatives, trusted service providers
and contractors for these limited purposes. We may also share
Members’ Personal Information with financial institutions,
insurance companies or other companies in the case of a merger,
divestiture, or other corporate re-organization. We may also share
Members' Personal Information with law enforcement or regulatory
agencies, as may be required by law. Any third party which receives
or has access to the Personal Information shall be required by us to
protect such Personal Information and to use it only to carry out the
services they are performing for you or for Exontime.com, unless
otherwise required or permitted by law. We will ensure that any such
third party is aware of our obligations under this Privacy Policy and
we will enter into contracts with such third parties by which they
are bound by terms no less protective of any Personal Information
disclosed to them than the obligations we undertake to you under this
Privacy Policy or which are imposed on us under applicable data
protection laws.<br/>
Specifically, when it is needed and permitted
by law we can share information about you with the following parties:</font></p>
<ol>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">With
	third-party verification providers (i.e. identity and address
	verification providers);</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">With
	acquiring and card issuing banks;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">With
	payment processing partners;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">With
	our service providers;</font></p>
	<li><p align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">With
	banks or other financial institutions when disputing claims or
	chargebacks;</font></p>
	<li><p align="justify"><font face="Liberation Sans, sans-serif">With
	government and regulatory officials when requested;</font></p>
</ol>
<p align="justify"><font face="Liberation Sans, sans-serif">Please
note that we cooperate with partners in different countries, hence
your information might be processed and stored in different
jurisdictions, but only as permitted by the law in that particular
jurisdiction.<br/>
We are committed to ensure safety of your personal
information at any point of time by the use of secured data transfer
channels, contractual obligations and other means (i.e. working with
only trusted partners that have adequate data protection means).</font></p>
<h3 class="western" align="justify"><a name="toc-8"></a><strong><font face="Liberation Sans, sans-serif">Correction⁄Updating⁄Deletion
of Personal Information</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">You have
the right to access your Personal Information and to require the
correction, updating and blocking of inaccurate and/or incorrect data
by sending an email to us at: support@exontime.com.<br/>
You may also
request the deletion or destruction of both the Account and Personal
Information by sending an email to us at: support@exontime.com.
Exontime.com will action your request only where this is not
inconsistent with its legal and regulatory obligations.<br/>
Upon
your written request, we will inform you of the Personal Information
relating to you that we hold and the use and general disclosure of
your Personal Information. We will also give you a copy of the
Personal Information we have retained. There may be a minimal charge
for accessing your Personal Information.</font></p>
<h3 class="western" align="justify"><a name="toc-9"></a><strong><font face="Liberation Sans, sans-serif">Security</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">We have
implemented security measures to ensure the confidentiality of your
Personal Information and to protect your Personal Information from
loss, misuse, alteration or destruction. Only authorized personnel of
Exontime.com have access to your Personal Information, and these
personnel are required to treat the information as
confidential.<br/>
Exontime.com website belongs to Exontime, Company
number SC533969.<br/>
Our address is: </font><font color="#222222"><font face="Liberation Sans, sans-serif"><span style="background: #ffffff">Dudajeva
Gatve, дом 12,</span></font></font><font color="#222222"><font face="Liberation Sans, sans-serif"><font size="3" style="font-size: 13pt"><span style="background: #ffffff">
Рига,Latvia</span></font></font></font><font face="Liberation Sans, sans-serif"><br/>
Our
official email address is: <a href="mailto:support@exontime.com">support@exontime.com</a><br/>
The
security measures in place will, from time to time, be reviewed in
line with legal and technical developments.</font></p>
<h3 class="western" align="justify"><a name="toc-10"></a><strong><font face="Liberation Sans, sans-serif">Retention
of Personal Information</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">We will
hold your Personal Information only for as long as it is necessary
for us to do so, having regard to the purposes described in this
Privacy Policy and our own legal and regulatory requirements. In
accordance with our record keeping obligations we will retain
Accounts and Personal Information for at least a period of five years
after they are closed by Members.</font></p>
<h3 class="western" align="justify"><a name="toc-11"></a><strong><font face="Liberation Sans, sans-serif">Links</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">There may
be links from our Site to other sites and resources provided by third
parties. This Privacy Policy applies only to our Site. Accessing
those third party sites or sources requires you to leave our Site. We
do not control those third party sites or any of the content
contained therein and you agree that we are in no way responsible or
liable for any of those third party sites, including, without
limitation, their content, policies, failures, promotions, products,
services or actions and/or any damages, losses, failures or problems
caused by, related to or arising from those sites. We encourage you
to review all policies, rules, terms and regulations, including the
privacy policies, of each site that you visit.</font></p>
<h3 class="western" align="justify"><a name="toc-12"></a><strong><font face="Liberation Sans, sans-serif">Marketing</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">You have
the right to ask us not to process your Personal Information for
marketing purposes. You can exercise your right to prevent such
processing by checking certain boxes on the forms we use to collect
your Personal Information. You can exercise the right at any time by
contacting us at support@exontime.com.</font></p>
<h3 class="western" align="justify"><a name="toc-13"></a><strong><font face="Liberation Sans, sans-serif">Changes</font></strong></h3>
<p align="justify"><a name="_GoBack"></a><font face="Liberation Sans, sans-serif">Our
Site policies, content, information, promotions, disclosures,
disclaimers and features may be revised, modified, updated, and/or
supplemented at any time and without prior notice at the sole and
absolute discretion of Exontime.com. If we change this Privacy
Policy, we will take steps to notify all users by a notice on our
Site and will post the amended Privacy Policy on the Site.</font></p>
<h3 class="western" align="justify"><a name="toc-14"></a><strong><font face="Liberation Sans, sans-serif">Contact
Us</font></strong></h3>
<p align="justify"><font face="Liberation Sans, sans-serif">If you
have any questions, comments, or concerns regarding our Privacy
Policy and/or practices as it or they relate to the Exontime.com,
please contact us at support@exontime.com</font></p>
<p align="justify"><br/>
<br/>

</p>
{% endblock content %}
