{% extends "home/policy_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class="western" align="justify">
<strong><font face="Liberation Sans, sans-serif"><font size="5" style="font-size: 18pt">This
article outlines </font></font></strong><strong><font face="Liberation Sans, sans-serif"><font size="5" style="font-size: 18pt"><b>ExonTime</b></font></font></strong><strong><font face="Liberation Sans, sans-serif"><font size="5" style="font-size: 18pt">
Refund policies based on types of exchange transactions performed.</font></font></strong></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Exontime.com
guarantees to any of its User his/her right for refund if
Exontime.com does not send the exchange to the user requested
address.</font></p>
<p class="western" align="justify"><strong><font face="Liberation Sans, sans-serif">NOTE:</font></strong></p>
<ul>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><em><font face="Liberation Sans, sans-serif">This
	Refund Policy concerns exclusively Transaction fees and Users’
	Funds.</font></em></p>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><em><font face="Liberation Sans, sans-serif">Exontime.com
	undertakes to make its best efforts to assist the Users in case of
	any disputes related to refunds of purchased currencies</font></em></p>
	<li><p class="western" align="justify"><em><font face="Liberation Sans, sans-serif">Refunds
	and Returns in excess of the original amount are prohibited</font></em></p>
</ul>
<h3 class="western" align="justify"><a name="toc-1"></a><font face="Liberation Sans, sans-serif">1.
General Conditions</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">The
User who has paid for the Exontime.com Services, i.e. paid a
transaction fee, or has funded his account may request a Refund or
Return in accordance with the Eligibility Criteria as further set out
herein.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Refund/Return
will only be considered where the User complies with the Eligibility
Criteria in full. Where the User fails to meet any of the Eligibility
Criteria, Exontime.com will have the right, in its sole discretion,
to decline the User’s request for a Refund/Return.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">In
order to apply for a Refund/Return, the User must request and
complete a <a href="https://support.paybis.com/555559-Can-I-request-a-refund" target="_blank">Refund
Form/Return Form</a> and send the respective form to the Exontime.com
support address - support@Exontime.com</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">To
prevent Prohibited Conduct, all payments and information related to
Refund/Return may be verified by Exontime.com. In such case,
Exontime.com may request the User to provide certain documents,
including, but not limited to, identification documents, copy of the
User’s Payment Card and Invoice or/and any other prove of the fact
that the disputed payment was made. In case the User fails to provide
appropriate documents or information within three (3) days upon the
Exontime.com request or in case of any doubts as to authenticity of
the provided documents, Exontime.com shall be entitled to decline the
User’s Refund/Return request.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Exontime.com
shall process the User’s Refund Form/Return Form as soon as it is
reasonably practicable. Response times will vary depending on stated
reasons for the request. In any case, Exontime.com shall notify the
User on the outcome of the request in accordance with the timescales
set out herein.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">The
Refund/Return request will only be approved or declined after
meticulous verification made by Exontime.com.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">NOTE:
Submission of Refund Form/Return Form does not guarantee that the
User’s request will be satisfied.</font></p>
<h3 class="western" align="justify"><a name="toc-2"></a><a name="toc-3"></a><a name="toc-4"></a>
<font face="Liberation Sans, sans-serif">2. CHARGEBACKS</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Exontime.com
expects the User to contact it using Exontime.com <a href="https://paybis.com/contacts/" target="_blank">contact
details</a> to resolve any problem or issue related to his/her
payments, before the User makes any Chargeback request. This Section
does not affect any rights and/or claims, which the User may have
against the bank/financial institution.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Exontime.com
will investigate any Chargeback requests made by the User and in
response will inform the User’s Issuing Bank whether any Service or
Transaction has been cancelled.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Exontime.com
reserves the right to suspend the User's account and lock the User's
Funds during the chargeback investigation procedure. </font>
</p>
<h3 class="western" align="justify"><a name="toc-5"></a><font face="Liberation Sans, sans-serif">3.
MISCELLANEOUS</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Any
charges, which arise upon processing Refund/Return, shall be borne
solely by the User. Such charges will be deducted from the final
amount of the Refund/Return.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">This
Refund Policy will be amended from time to time if there is any
change in the legislation. Terms and conditions of the Refund Policy
are subject to change by Exontime.com. </font>
</p>
<p class="western" align="justify"><a name="_GoBack"></a><font face="Liberation Sans, sans-serif">In
case the User does not wish to accept the revised Refund Policy,
he/she should not continue to use Exontime.com Services. If the User
continues to use the Services after the date on which the change
comes into effect, his/her use of the Services is to be bound by the
new Refund Policy.</font></p>
<p class="western" align="justify"><br/>
<br/>

</p>
{% endblock content %}