{% extends "home/policy_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h3 class="western" align="justify">
<font face="Liberation Sans, sans-serif">Terms and Conditions</font></h3>
<p class="western" align="justify"><a name="_GoBack"></a><font face="Liberation Sans, sans-serif">This
Agreement sets out the terms and conditions of the service on
electronic currency sale provided by ExonTime<font color="#000000">
legal entity (SC533969), Address: 69-315 Buchanan Street, Glasgow,
Strathclyde, Scotland, G1 3SL, or </font>ExonTime<font color="#000000">
SIA legal entity (40103936352), Address: Jēkabpils iela 4 - 29,
Rīga, LV-1003, Latvia,</font><font color="#000000"><font size="4" style="font-size: 13pt">
</font></font>ExonTime doing business as the Exontime.com in
marketplace. Using the services of the Exontime.com means the full
acceptance of this Agreement by the User. In case of disagreement
with the Agreement, the User shall not perform any transactions.</font></p>
<p class="western" align="justify"><br/>
<br/>

</p>
<h3 class="western" align="justify"><a name="toc-1"></a><font face="Liberation Sans, sans-serif">1.
Definition of Terms and Conditions</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">The
Exontime.com is a partially automated system “Exontime.com”
located on the Internet at https://exontime.com <br/>
The Customer
means a private person willing to use the service provided by the
Exontime.com who has agreed to all provisions stipulated in this
Agreement.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Payment
units mean accounting units of the corresponding Payment systems
determining a specified scope of rights of claim or some other rights
arising from the agreement executed by the Payment systems and their
customers.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Payment
system means an online payments company or a money transfer company.
Online money company transfers (i.e. PayPal/Skrill/Neteller) serve as
electronic alternatives to traditional paper methods like checks and
money orders. Money transfer company works with individuals and
businesses through a network of agents and financial institution
customers and transfers official currencies of various governments.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Recipient
Account Details mean number, wallet, email or any other indication of
Customer account in the Payment system which is stated in the
Customer Order for the Exontime.com to send the Payment units.</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Order
means (i) purchase by Customer of Digital Currency from Exontime.com
through this site; or (ii) sale by Customer of Digital Currency to
Exontime.com through this site, in all cases subject to the terms of
this Agreement, the Exontime.com anti-money laundering program and
disclosure as to the specific terms of the Order as indicated on this
site.&nbsp; Each Order is a two-party transaction involving only
Exontime.com and Customer and no other party.&nbsp; Orders are not
conditional on any other transaction.</font></p>
<h3 class="western" align="justify"><a name="toc-2"></a><font face="Liberation Sans, sans-serif">2.
Subject of the Agreement</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Exontime.com
fulfills Orders, meaning the sale of Digital Currency to Customer or
the purchase of Digital Currency from a Customer as per the terms of
the Order placed on this site, this Agreement and related
disclosure.&nbsp;<br/>
Exontime.com will sell or purchase only those
Digital Currencies listed on the site, which may change without prior
notice to Customer.&nbsp;<br/>
Exontime.com does not accept corporate
customers.<br/>
Exontime.com does not supply any Crypto Currency
wallet or other custodial services.&nbsp;<br/>
Exontime.com does not
provide financial advice. Exontime is not a bank.<br/>
Customer must
not assume risk that Customer cannot afford.</font></p>
<h3 class="western" align="justify"><a name="toc-3"></a><font face="Liberation Sans, sans-serif">3.
General Provisions and Terms</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">The
administration of the Exontime.com is not responsible and does not
cover losses caused by incorrect or unauthorized use of the
Exontime.com, and user errors committed in completing the forms of
transaction, which can lead to the transfer of funds to the account
specified by mistake and also to delays in processing applications
and payouts.</font></p>
<h3 class="western" align="justify"><a name="toc-4"></a><font face="Liberation Sans, sans-serif">4.
Uncontrolled circumstances</font></h3>
<ul>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">The
	Exontime.com is not responsible for delays or failures in the
	handling of operations arising as a consequence of any problems in
	the telecommunications, computer and other systems; force majeure
	action of Payment Systems (block or closure of the accounts,
	freezing or holding of funds, denial of service); change of
	political regimes, civil strike; and actions of third parties, which
	are beyond the control of the Exontime.com <br/>
Sale operation of
	electronic currency marketplace is considered completed after the
	transfer of the required amount by the Exontime.com to the account
	of the Customer.</font></p>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">Sale
	operation is done manually and is a one-time transaction.</font></p>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">According
	to the policy on the return of digitally delivered goods, the return
	of the transferred funds after the sale is not possible.</font></p>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">The
	Exontime.com has the right to stop the sale of electronic
	currencies, as long as the user does not provide their identity
	documents and does not set a user's identity.</font></p>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">In
	case the amount of electronic money received is different from the
	Exontime.com transaction by more than 20%, the Exontime.com may
	unilaterally reject the Order.</font></p>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">In
	the implementation of the return, all commission costs for the
	electronic money transfer are withheld from the funds received from
	the Customer.</font></p>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">In
	case of a delay in receipt or non-receipt of funds to or from the
	account specified by the User, the Exontime.com is not liable for
	any damage caused to the User. User agrees that in the event of
	delays all claims will be addressed to the respective Payment
	System.</font></p>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">In
	the case of refusal to identify the failure and identification
	requirements for a month, and in the case of the provision of
	misleading information during registration, this will result in
	blocking of your account and denial of service. Thus, the funds on
	your account will be temporarily frozen to ascertain the
	circumstances causes the block.</font></p>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">The
	Exontime.com administration reserves the right to temporary hold the
	funds transferred to it from the user attempted to any attacks on
	the server, as well as any attempts of hacking and cheating scripts
	on this website. The funds will be returned to the user via the same
	means of payment upon request.</font></p>
	<li><p class="western" align="justify" style="margin-bottom: 0in"><font face="Liberation Sans, sans-serif">All
	information provided by the user in the process of sale is
	confidential and not disclosed to third parties. Exceptions: 3rd
	party service providers used by the Exontime.com for Anti Fraud
	purposes, the request of law enforcement, the court's decision,
	request the administration of one of payment systems.</font></p>
	<li><p class="western" align="justify"><font face="Liberation Sans, sans-serif">Using
	the Exontime.com, the Customer agrees that the liability of the
	Exontime.com is limited to the funds received from users for the
	execution of the transaction, the Exontime.com does not provide
	additional warranty and assumes no additional liability to the
	Customer.</font></p>
</ul>
<h3 class="western" align="justify"><a name="toc-5"></a><font face="Liberation Sans, sans-serif">5.
Warranty </font>
</h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">The
warranty period for the services provided under this agreement is 48
hours from the moment of executing the subject of the agreement with
the Exontime.com</font></p>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">In
case of not sending the funds within 48 hours by the Exontime.com to
the Customer account specified in the Order (excluding weekends and
public holidays), the Customer may request the cancellation of the
contract and refund in full. The funds should be returned to the same
mean of payment in case of order cancellation. In case of cancelling
the application, return is made to the user within 24 hours.</font></p>
<h3 class="western" align="justify"><a name="toc-6"></a><font face="Liberation Sans, sans-serif">6.
Resolution of Disputes Law</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Both
Exontime.com and the User agree that any disputes arising between the
two parties shall be initially attempted to be resolved by contacting
the other party. In such a case the User shall contact Exontime.com
by sending an email to support@exontime.com, and Exontime.com shall
contact the User via the email that was used for registration or any
other information that the User provided in his/her Account. </font>
</p>
<h3 class="western" align="justify"><a name="toc-7"></a><font face="Liberation Sans, sans-serif">7.
Form of the Agreement</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">The
Customer and the Exontime.com acknowledge that the digital form of
this Agreement is legally equal to the agreement executed in a
written form.</font></p>
<h3 class="western" align="justify"><a name="toc-8"></a><font face="Liberation Sans, sans-serif">8.
Changes and amendments</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">The
administration of the Exontime.com service reserves its right to to
make modifications and additions to the given agreement any moment
unilaterally without a prior notice.</font></p>
<h3 class="western" align="justify"><a name="toc-9"></a><font face="Liberation Sans, sans-serif">9.
3rd Party Systems</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">The
End User shall consent to the following provisions: </font>
</p>
<ol>
	<li><p class="western" align="justify"><font face="Liberation Sans, sans-serif">The
	Exontime.com uses third party services and such third party’s
	affiliates services which enable you to place monetary deposits and
	perform transfer of payments within Partners website by making use
	of your existing E-Wallets (as and if available and applicable) (the
	“</font><strong><font face="Liberation Sans, sans-serif">Service</font></strong><font face="Liberation Sans, sans-serif">”
	and the “</font><strong><font face="Liberation Sans, sans-serif">Third
	Party Service Provider</font></strong><font face="Liberation Sans, sans-serif">”).
	The Services do not include any additional service, and such third
	party services do not include providing and/or depositing the
	applicable Cryptocurrency at your account. </font>
	</p>
	<li><p class="western" align="justify"><font face="Liberation Sans, sans-serif">The
	Exontime.com may share and transfer (including cross border
	transfer) Personal Information to the Third Party Service Provider
	for the purpose of rendering the Services which will be made to
	Partners website via the use of your credit card. The Personal
	Information will be shared with the Third Party Service Provider
	after you elect to execute such monetary payments by using the
	Services of the Third Party Service Provider. For the purpose of
	this section Personal Information shall include information that
	identifies or may identify you, including the information submitted
	by you through the registration form when you subscribe to the
	website such as your E-mail address, password, country and city
	and/or information provided through social websites or any other
	identifying information provided by you while using the services of
	our website.</font></p>
	<li><p class="western" align="justify"><font face="Liberation Sans, sans-serif">In
	addition, we may transfer any Non-Personal Information provided by
	you through your use of the services on our website to the Third
	Party Service Provider in order to allow the Third Party Service
	Provider to perform preliminary examinations of Non-personal
	Information for the purpose of determining if you are qualified to
	use the services of such Third Party Service Provider (including the
	history of your transactions on the website which will be provided
	without any identifying information and solely for the purpose of
	performing the preliminary examinations).</font></p>
	<li><p class="western" align="justify"><font face="Liberation Sans, sans-serif">By
	accepting these terms, you represent that any and all information
	you provide to us is true and accurate. Any false or fraudulent
	information and/or use of the services rendered to you is
	prohibited.</font></p>
	<li><p class="western" align="justify"><font face="Liberation Sans, sans-serif">You
	are not obligated by law to provide Partner and/or the Third Party
	Service Provider with any Personal Information. You hereby
	acknowledge and agree that you are providing Partner and/or the
	Third Party Service Provider with Personal Information at his/her
	own free will, for the purposes of rendering the Services.</font></p>
</ol>
<h3 class="western" align="justify"><a name="toc-10"></a><font face="Liberation Sans, sans-serif">10.
Termination Policy</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">You
or we may suspend or terminate your account or your use of this
Website at any time, for any reason or for no reason. Except for the
withdrawal of the accumulated funds, you will not be entitled to any
remedy for discontinuing the services, all subject to these terms and
conditions of service and applicable laws and regulations. We reserve
the right to change, suspend, or discontinue all or any aspect of
this Website at any time without notice.</font></p>
<h3 class="western" align="justify"><a name="toc-11"></a><font face="Liberation Sans, sans-serif">11.
Cancelation Policy</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">You
or we may terminate your account and services of this Website at any
time, for any reason or for no reason. To cancel your services,
please contact us.</font></p>
<h3 class="western" align="justify"><a name="toc-12"></a><a name="toc-13"></a>
<font face="Liberation Sans, sans-serif">12. Refund Policy</font></h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Please
see the detailed refund policy here: <a href="https://paybis.com/policies/refunds/" target="_blank">Refunds</a>.</font></p>
<h3 class="western" align="justify"><a name="toc-14"></a><font face="Liberation Sans, sans-serif">14.
Complaints Policy </font>
</h3>
<p class="western" align="justify"><font face="Liberation Sans, sans-serif">Exontime
will always strive to provide an efficient and professional service,
and will aim to provide prompt, courteous, helpful, open and
informative advice in respect of every communication received.<br/>
<br/>
Any
customer or potential customer has the right to complain about
Exontime service or product.The complaints should be communicated to
Exontime by sending an email to <a href="mailto:complaints@exontime.com">complaints@exontime.com</a>.
Exontime undertakes to deal with each complaint and issue a response
within 15 days of the initial complaint. We record and analyze all
complaints in order to improve our services.</font></p>
<p class="western" align="justify" style="margin-bottom: 0in; line-height: 100%">
<br/>

</p>
{% endblock content %}