{% extends "home/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include "home/header.html" %}
<div class="story-section"></div>
<h1 class="contactUs_title-text">About us</h1>
<div class="container">
  <div class="aboutus-content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut, quo.
    Perferendis quae vel labore perspiciatis dolorem! Consequatur aliquid
    numquam qui. Quibusdam temporibus necessitatibus minima a corporis vel,
    expedita rerum voluptatibus totam ab sed. Quaerat assumenda nulla nam,
    repudiandae quos vitae, expedita enim commodi eum cum quisquam fugiat
    exercitationem modi fugit animi corporis ducimus veniam qui aut facere
    dignissimos recusandae. Dolorem, cumque. Nihil non facere soluta maiores
    dicta asperiores porro aperiam vero autem quae. Natus dolores est iste
    libero animi culpa impedit quaerat maxime veritatis sunt eveniet, labore
    laudantium consequatur, sed omnis obcaecati nisi id unde expedita!
    Consectetur veniam molestias doloremque!
  </div>
</div>
{% endblock %}