{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class="footer-custom">
    <div class="footer-custom-inner-div">
        <div class="row">
            <div class="col-md footer-custom-inner-div-col-div-1">
                <a class="footer-custom-inner-div-col-div-1-a-1">
                   KENDO APPLIANCES MY
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-1-a-2">
                   Kendo Appliances Malaysia Sdn Bhd is an ISO certified company specialised in air conditioner manufacturing and committed to constantly deliver a more efficient and quality air conditioning products.
                </a>
                <br>
                <br>
                <div class="footer-custom-inner-div-col-div-1-inner-div">
                    <div class="footer-custom-inner-div-col-div-1-inner-div-inner-div">
                        <img class="footer-custom-inner-div-col-div-1-inner-div-inner-div-img" src="{% static 'home/images/fb-logo-150x150.png' %}">
                    </div>
                    <div class="footer-custom-inner-div-col-div-1-inner-div-inner-div-2">
                        <a class="footer-custom-inner-div-col-div-1-inner-div-inner-div-2-a">
                           Follow us
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md footer-custom-inner-div-col-div-2">
                <a class="footer-custom-inner-div-col-div-2-a-1">
                   Services
                </a>
                <br>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-2-a-2">
                   Manufacturing
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-2-a-2">
                   Customization
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-2-a-2">
                   OEM
                </a>
            </div>
            <div class="col-md footer-custom-inner-div-col-div-3">
                <a class="footer-custom-inner-div-col-div-3-a-1">
                   Products Type
                </a>
                <br>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-3-a-2">
                   CASSETTE NON-INVERTER
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-3-a-2">
                   WALL MOUNTED
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-3-a-2">
                   PORTABLE
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-3-a-2">
                   FLOOR STANDING
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-3-a-2">
                   CEILING MOUNTED
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-3-a-2">
                   ACCESSORIES
                </a>
            </div>
            <div class="col-md footer-custom-inner-div-col-div-4">
                <img class="footer-custom-inner-div-col-div-4-img" src="{% static 'home/images/logo.png' %}">
            </div>
        </div>
    </div>
</div>