{% extends "home/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include "home/header.html" %}
<h1 class="contactUs_title-text">Services</h1>
    <div class="container">
      <div class="service-content">
        <h2 id="service1">Service 1</h2>
        <div class="s-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
            adipisci voluptatem nihil sit exercitationem enim ipsam accusantium
            vero dolore ratione accusamus nulla nostrum rerum qui quidem,
            voluptatum impedit dolor minus. Voluptates cupiditate beatae illum
            incidunt deserunt mollitia minima nam veritatis explicabo. Et
            voluptatem nisi blanditiis minus nemo totam iste a.
          </p>
          <img src="./img/service (1).jpg" alt="">
        </div>
      </div>
      <div class="service-content">
        <h2 id="service2">Service 2</h2>
        <div class="s-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
            adipisci voluptatem nihil sit exercitationem enim ipsam accusantium
            vero dolore ratione accusamus nulla nostrum rerum qui quidem,
            voluptatum impedit dolor minus. Voluptates cupiditate beatae illum
            incidunt deserunt mollitia minima nam veritatis explicabo. Et
            voluptatem nisi blanditiis minus nemo totam iste a.
          </p>
          <img src="./img/service (1).jpg" alt="">
        </div>
      </div>
      <div class="service-content">
        <h2 id="service3">Service 3</h2>
        <div class="s-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
            adipisci voluptatem nihil sit exercitationem enim ipsam accusantium
            vero dolore ratione accusamus nulla nostrum rerum qui quidem,
            voluptatum impedit dolor minus. Voluptates cupiditate beatae illum
            incidunt deserunt mollitia minima nam veritatis explicabo. Et
            voluptatem nisi blanditiis minus nemo totam iste a.
          </p>
          <img src="./img/service (1).jpg" alt="">
        </div>
      </div>
    </div>
{% endblock %}